.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    font-size: 18;
    color: rebeccapurple;
}
body{
    text-align: center;
    background-color: rgb(95, 35, 70);
}
input[type=text],input[type=email],input[type=password], select{
    
    width: 60%;
    padding: 15px 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
button {
    width: 60%;
    background-color: #232180b2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #02143b;
}
