{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}

   <div class="header" align=center> <h1>Hello {{names}} </h1>   </div>
   <a class="button has-text-danger text-right" href="{{ url_for('login') }}">
      <button type="button" class="btn btn-outline-info btn-lg ">Logout</button>
      </a>
      <a class="button has-text-danger text-right" href="{{ url_for('shelf', id=session['name'])}}" id="{{session['name']}}">
         <button type="button" class="btn btn-outline-info btn-lg ">WishList</button>
         </a>
<div>


    <div class="search-container" align=center >
        <form action="/search", method ='POST'>
          <input type="text" placeholder="Search" name="search">
          <button> Search </button>
        </form>
      </div>
<h1><i>Book Details</h1></i>
<table class="table table-success table-striped"
>
    <thead>
       
       <tr>
         <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
       </tr>
    </thead>
    <tbody>
      {% for i in users  %}
         {% if i.isbn==name or i.author==name or i.title==name or i.year==name %}
        <tr>
         <th><a href="{{ url_for('review', id=i.isbn)}}"  id={{i.isbn}}>{{i.isbn}}</a></th>
         <td>{{i.title}}</td>
         <td>{{i.author}}</td>
         <td>{{i.year}}</td>

      </tr>
      {% endif %}
         {% endfor %}
     </tbody>
     <!-- <a class="button has-text-danger" href="{{ url_for('login') }}">
      <strong>Logout</strong>
      </a> -->
</div>
{% endblock %}
