<html>
    <head>
        <title>Books</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='BOOKS.jpg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <style>


            .header {
                overflow: hidden;
                background:#095a91;;

            
                padding: 20px 10px;
                font-size: 18;
                color: rgb(255, 255, 255);
            } 

            

        </style>

    </head>
    <body>
        
        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}
        {% endblock %}


    </body>
</html>