<html>
    <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
         <style>
            .header {
                overflow: hidden;
                background:#095a91;;

                
                padding: 20px 10px;
                font-size: 18;
                color: rgb(255, 255, 255);
            } 

            

        </style> 
        <title>Register</title>
    </head>
    <body>
        <div class="header" >
            <h1 align= center >Registration Page</h1>
        </div>
<div class="card p-5 bg-dark ">
        <form action="/submit" method="post" align=center>
            <input type="text" name="name" placeholder="Enter your name" required><br><br>
            <input type="password" name="password" placeholder="Enter your password" required><br><br>
            <input type="text" name="mobile" placeholder="Enter mobile number" required><br><br>
            <input type="date" name="dob" placeholder="Enter Date Of Birth" required><br><br>
            <input type="email" name="email" placeholder="Enter your Email" required><br><br>
            <input type="radio" id="male" name="gender" value="Male" >
            <label for="male" style="color:white">Male</label>
            <input type="radio" id="female" name="gender" value="Female">
            <label for="female"  style="color:white">Female</label>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other" style="color:white">Other</label><br><br>

            <button>Submit</button> 

            <br>
            <br>

            <p style="color: white;"  align=center> Already existing user <a href="{{ url_for('login') }}"> Click Here</a></p>
        
        </form>
    </div>
    </body>
    
</html>       
