<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Favourites</title>
</head>
<body>
<h1>Favourites</h1>

<a class="button has-text-danger text-right" href="{{ url_for('back') }}">
    <button type="button" class="btn btn-outline-info btn-lg ">Back</button>
    </a>

    <table class="table table-success table-striped"
    >
        <thead>
            <tr>
                <th>Title</th>
               
            </tr> 
        </thead>
        
        <tbody>
            {% for i in a %}
           
            <tr>
        
                <td>{{i.book}}</td>
                <td><a href="/delete/{{i.book}}" class="button is-danger is-light">delete</a></td>

            </tr>
            {% endfor %}
        </tbody>
        
    </table>

    <!-- {% for i in a %}


            {{i.book}}



    {% endfor %} -->

</body>
</html>
