<html>
    <head>


        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  

    </head>
    <body>
        <div class="header">
        <h1 align=center>Login</h1>
    </div>


    <div>
        <form action="/submit1" method="post" align=center>
            <input type="text" name="name" placeholder="Enter your name" required><br><br>
            <input type="password" name="password" placeholder="Enter your password" required><br><br>
            <button>Submit</button> 

            <br>
            <br>
            <p style="color: rgba(2, 52, 110, 0.842);"  align=center>New User <a href="{{ url_for('register') }}"> Click Here</a></p>
            <p style="color: rgba(2, 52, 110, 0.842);"  align=center>Home Page<a href="{{ url_for('index') }}"> Click Here</a></p>

        </form>  
    </div>

    </body>
</html>